<h2>Your Gmail contacts are : </h2>
<table>
	<thead>
		<th>Name </th>
		<th>Email </th>
	</thead>
	<tbody>
		<%@contacts.each do |contact|%>
		<tr>
			<td><%= contact[:name]%></td>
			<td><%= contact[:email]%></td>
		</tr>
		<%end%>
	</tbody>
</table>
